POSTGRES_USER=casamento
POSTGRES_PASSWORD=CHANGE_ME_STRONG_PASSWORD
POSTGRES_DB=casamento
JWT_SECRET=CHANGE_ME_LONG_RANDOM_SECRET
JWT_EXPIRES_IN=30d
PUBLIC_WEB_URL=http://207.180.243.108:8086
BOOTSTRAP_NOIVO_EMAIL=dyego.fernandes.vieira@gmail.com
BOOTSTRAP_NOIVO_PASSWORD=123456
BOOTSTRAP_NOIVO_NOME=Dyego
RUN_SEED=false
